---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$main-red: #E13920;
$popup-bg: #EDEAE6;
$faded-red: #E7ABA2;

body {
  background-image: url("/img/structure/map-gray.svg");
  font-family: FFDINWebProMedium;
  margin: 0;
}

a {
  color: $main-red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#title {
  position: fixed;
  left: 0;
  top: 0;
  width: 345px;
  height: 155px;
  background-color: $main-red;
  padding: 30px 30px;
  a {
    text-decoration: none;
    color: white;
  }
  .m {
    font-size: 50px;
    letter-spacing: 45px;
    text-transform: uppercase;
  }
  .l {
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 31px;
    /* NOTE(dbp 2015-08-08): It appers that the M in the font has spacing
on the left side; since we want the L to align, we have to pad... */
    padding-left: 2px;
    text-transform: uppercase;
  }
  .t {
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 7px;
    padding-left: 1px;
    text-transform: uppercase;
  }
  .n {
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 1.6px;
  }
}

#menu {
  position: fixed;
  right: 0;
  top: 15px;
  ul {
    list-style-type: none;
  }
  li {
    text-align: right;
    margin-top: 15px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 3px;
    padding-right: 115px;
    background-color: $main-red;
  }
  a:hover {
  padding-right: 130px;
  transition: opacity 0.2s 1s ease;
  }
}

#bottom {
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: $main-red;
  width: 100%;

  color: $faded-red;

  a {
    color: white;
    text-decoration: none;
  }

  .program {
    padding-top: 10px;
  }

  .program > div {
    line-height: 20px;
    float: right;
    padding-left: 100px;
    padding-right: 20px;
  }

  .logo {
    float: right;
    width: 60px;
    height: 60px;
    background-image: url("/img/structure/cpcj-logo-bottom.jpg");
    background-size: contain;
  }
  
  .socialfb {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url("/img/structure/social-facebook.jpg");
    background-size: contain;
    a {
      display: block;
      width: 60px;
      height: 60px;
    }
    
  }

 .socialtwitter {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url("/img/structure/social-twitter.jpg");
    background-size: contain;
    a {
      display: block;
      width: 60px;
      height: 60px;
    }
 }

 .socialtumblr {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url("/img/structure/social-tumblr.jpg");
    background-size: contain;
     a {
      display: block;
      width: 60px;
      height: 60px;
    }
   
 }

 .socialemail {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url("/img/structure/social-email.jpg");
    background-size: contain;
     a {
      display: block;
      width: 60px;
      height: 60px;
    }
 }
} 


#pins {
  position: relative;
  width: 100%;
  height: 100%;

  .box {
    position: absolute;

    .popup {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 50px;
      width: 270px;
      padding-left: 16px;

      .point {
        position: absolute;
        bottom: 40px;
        left: 3px;
        z-index: 11;

        background-image: url("/img/structure/popup-point.png");
        background-repeat: no-repeat;
        background-size: 15px 27px;
        width: 15px;
        height: 27px;

      }

      .content {
        padding: 10px;
        background-color: white;
        border: 2px solid $main-red;
      }

      .subject a, .subtitle a {
        color: black;
      }

      .subject {
        text-transform: uppercase;
        font-size: 15px;
        padding: 5px 0;
      }

      .title {
        color: $main-red;
        font-size: 23px;
        padding: 5px 0;
      }

      .subtitle {
        font-style: italic;
        padding-bottom: 15px;
      }

      a {
        color: $main-red;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

  }

  .box > a {
    display: block;
    padding-left: 50px;
    height: 80px;
    line-height: 80px;
    background-image: url("/img/structure/pin-red.png");
    background-size: 50px 80px;
    background-repeat: no-repeat;
    background-position: center left;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    &:hover {
      cursor: pointer;
    }

  }
}

#content {
  position: fixed;
  background-color: $popup-bg;
  z-index: 5;
  right: 0;
  top: 0;
  width: 565px;
  height: 100%;
  overflow-y: scroll;

  .top {
    background-color: $main-red;
    min-height: 30px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;

    line-height: 30px;

    .subject {
      font-size: 25px;
    }

    .role {
      font-size: 15px;
    }

    .byline {
      color: $faded-red;
    }

    .close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      background-image: url("/img/structure/close-top.jpg");
      &:hover {
        background-image: url("/img/structure/close-top-hover.jpg");
      }
    }
  }
  .rest {
    padding: 30px;
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;

    .dek {
      font-weight: bold;
      font-style: italic;
    }

    hr {
      border: 0;
      margin: 40px 0;
      width: 185px;
      height: 4px;
      background-color: $main-red;
    }

    strong {
      text-transform: uppercase;
      font-weight: bold;
      font-family: FFDINWebProMedium;
    }

    em {
      font-weight: bold;
      font-style: italic;
    }

    blockquote {
      font-weight: bold;
      font-family: FFDINWebProMedium;
      font-size: 36px;
      margin: 0;
    }

    .close {
      display: block;
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      background-image: url("/img/structure/close-bottom.jpg");
      &:hover {
        background-image: url("/img/structure/close-bottom-hover.jpg");
      }
    }
  }


  .page {
    .intro {
      line-height: 20px;
      margin-bottom: -25px;
      h2 {
        font-family: FFDINWebProMedium;
        font-size: 22px;
      }
    }

    p {
      margin: 5px 0;
    }

    em {
      font-weight: normal;
    }

    h1 {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: normal;
      font-family: FFDINWebProMedium;
      margin-top: -35px;
      margin-bottom: -0px;
    }

    hr {
      width: 100%;
      background-color: black;
    }

    .half-hr {
      width: 150px;
      height: 4px;
      background-color: black;
    }

    p {
      font-family: Georgia;
      font-size: 18px;
    }

    blockquote {
      font-family: Georgia;
      font-weight: normal;
      font-size: 14pt;
      margin-left: 150px;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    h2 {
      font-family: Georgia;
      font-size: 18pt;
      margin-bottom: 0;
    }

    h3 {
      font-family: Georgia;
      font-size: 18pt;
      font-weight: normal;
      font-style: italic;
      margin-top: 0;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    a.box {
      font-family: FFDINWebProMedium;
      padding: 3px;
      padding-right: 5px;
      padding-left: 25px;
      line-height: 20px;
      background-color: white;
      border: 4px solid $main-red;
      color: $main-red;
      background-repeat: no-repeat;
      background-position: 5px 4px;
      background-size: 15px 15px;
      background-image: url("/img/structure/triangle.png");
      display: inline-block;

    }

  }

  .toc {
    h2 {
      font-family: FFDINWebProMedium;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .link {
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 60px 60px;
      padding-left: 80px;
    }

    a {
      font-family: Georgia;
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      background-image: url("/img/structure/triangle-offwhite.jpg");
      background-size: 15px 15px;
      background-position: 0px 10px;
      padding-left: 20px;
      background-repeat: no-repeat;
    }

    p {
      font-family: Georgia;
      font-style: italic;
      font-size: 18px;
      margin: 0px;
      line-height: 30px;
      padding-bottom: 25px;
    }

    .spacing {
      height: 50px;
}
  }
}
