<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CPJC Media Landscape</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>

  <body>

    <div id="title">
      <div class="titleimage"><a href="/"></a></div>
    </div>

    <div id="menu">
      <ul>
        
        <li><a href="/toc">Table of Contents</a></li>
        <li><a href="/ednote">Editorial Note</a></li>
        <li><a href="/about">Masthead</a></li>
        <li><a href="http://cpcj.tumblr.com/" target="_blank">Process</a></li>
        <li><a href="http://www.cpcjmedia2015.com/" target="_blank">v.1</a></li>
        
      </ul>
    </div>

    <div id="pins">
      {% for interview in site.interviews %}
      <div class="box"
           style="top: {{ interview.y }}px; left: {{ interview.x}}px;">
        <a href="{{ interview.url }}"
           data-subject="{{ interview.subject }}"
           data-title="{{ interview.title }}"
           data-subtitle="{{ interview.subtitle }}">
          {{ interview.short }}
        </a>
      </div>
      {% endfor %}
    </div>

    {{ content }}

    <div id="bottom">
      <div class="logo"><a href="http://creative-publishing.org/" target="_blank"></a></div>
      <div class="socialfb"><a href="https://www.facebook.com/thenewschool" target="_blank"></a></div>
      <div class="socialtwitter"><a href="https://twitter.com/cpcjmedia" target="_blank"></a></div>
      <div class="socialtumblr"><a href="http://cpcj.tumblr.com/" target="_blank"></a></div>
      <div class="socialemail"><a href="mailto:millerje@newschool.edu"></a></div>
      <div class="program">
        <div><a href="http://creative-publishing.org/" target="_blank">Learn More About the MA in Creative Publishing and Critical Journalism</a></div>
        <div>The New School for Social Resarch, New York City</div>
      </div>
    </div>

  </body>

</html>
